.footer {
  background-color: var(--button-color);
  color: var(--background-color);
}

.main-footer {
  /* display: flex; */
  justify-content: space-around;
  padding: 20px 160px;
  flex-wrap: wrap;
}

.main-footer .about {
  display: flex;
  justify-content: space-between;
  min-width: 300px;
  text-align: left;
  margin: 20px 0;
}

.main-footer .about h3 {
  font-size: 14px;
}

.main-footer .about p {
  font-size: 14px;
  line-height: 1.6;
  max-width: 600px;
}

.main-footer .links {
  margin: 20px 0;
  display: flex;
  text-align: end;
  justify-content: space-between;
  /* min-width: 200px; */
  /* max-width: calc(100% - 300px); */
}

ul li a {
  text-decoration: none;
  color: var(--background-color);
}

ul li a.active {
  text-decoration: none;
  text-decoration-color: var(--button-color);
}

.main-footer .links ul {
  list-style: none;
  padding: 0;
}

.main-footer .links p {
  text-align: start;
}

.main-footer .links li {
  font-size: 16px;
  text-align: left;
  margin: 5px 0;
  cursor: pointer;
  line-height: 1.6;
  list-style: none;
}

.main-footer .links li:hover {
  text-decoration: underline;
}

.main-footer .contact {
  width: 100%;
  max-width: 600px;
  justify-content: space-between;
  /* margin-left: 0px; */
}

.main-footer .contact p {
  font-size: 14px;
  margin: 5px 0;
}

.main-footer .social-icons {
  margin: 15px 0;
}

.main-footer .social-icons a {
  font-size: 18px;
  color: var(--background-color);
  margin-right: 15px;
}

.bottom-footer {
  border-top: 1px solid #333;
  font-size: 14px;
  padding: 15px 0px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.bottom-footer span {
  margin: 5px 10px;
  color: var(--gray-color);
  font-size: 12px;
}

.footer-main {
  display: flex;
  justify-content: space-between;
}

.footer-social {
  display: flex;
  gap: 15px;
}

.contact-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact-flex .info {
  display: flex;
  flex-direction: column;
}

.contact-flex .info p {
  font-size: 14px;
  margin: 10px 0;
}

.contact-flex .social-icons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.social-icons svg {
  width: 20px;
  height: 20px;
  margin-top: 3px;
}

.contact-flex .social-icons a {
  background-color: var(--background-color);
  padding: 6px 9px;
  font-size: 14px;
  color: var(--h1-color);
  border-radius: 100%;
  margin-left: 15px;
}

@media (max-width: 992px) {
  .main-footer {
    padding: 20px 60px;
  }

  .main-footer .about p {
    max-width: 500px;
  }
}

@media (max-width: 768px) {
  .main-footer .about p {
    max-width: 300px;
  }

  .main-footer .contact {
    flex-direction: column;
  }

  .main-footer {
    padding: 20px 40px;
  }

  .contact-flex .social-icons a {
    margin-left: 10px;
  }
}

@media (max-width: 600px) {
  .main-footer .about {
    flex-direction: column;
  }

  .main-footer .about p {
    font-size: 12px;
    max-width: 100%;
  }

  .contact-flex .social-icons a {
    margin-left: 7px;
  }

  .contact-flex .social-icons a {
    padding: 3px 5px;
  }

  .main-footer .links li {
    font-size: 14px;
    line-height: 1.2;
  }

  .contact-flex .info p {
    line-height: 1.2;
    margin: 5px 0;
  }

  .bottom-footer {
    padding: 10px 0;
  }

  .bottom-footer span {
    font-size: 10px;
  }

  .form-group label {
    font-size: 10px;
  }
}

@media (max-width: 420px) {
  .main-footer {
    padding: 20px;
  }
}
