body {
  margin: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  padding: 0;
}

:root {
  --h1-color: #212020;
  --content-color: rgb(50, 49, 49);
  --background-color: #e6e6e8;
  --button-color: #000;
  --black-font-color: rgb(35, 34, 34);
  --button-blue-color: #2f2fa2;
  --dark-blue-color: rgb(10, 10, 83);
  --gray-color: gray;
  --white-bg: white;
  --error-message: red;
}
