.fin-finance-center {
  text-align: center;
  color: var(--h1-color);
}

.KeboraFinance h1 {
  margin: 10px 0;
}

.fin-finance-max {
  margin: 40px 120px;
  font-size: 16px;
  color: var(--content-color);
  line-height: 1.6;
}

.fin-finance-flex-section {
  background-color: var(--background-color);
}

.fin-finance-flex-section h1 {
  text-align: center;
  margin: 20px 0;
}

.fin-international-section {
  text-align: center;
  justify-content: center;
  display: flex;
  font-size: 26px;
  background-color: var(--background-color);
  padding: 30px 0;
}

.fin-international-section h1 {
  margin: 0;
  font-size: 32px;
}

.fin-finacial-main,
.money-gram,
.money-gram-ria {
  background-color: var(--background-color);
}

.money-gram-ria {
  padding-top: 80px !important;
}

.fin-finacial-main h1 {
  padding-top: 30px;
  text-align: center;
}

.Orang-Money {
  background-color: var(--white-bg) !important;
}

.fin-diamond-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* background-color: var(--background-color); */
  padding: 0px 120px 80px;
  gap: 40px;
}

.fin-image-container {
  flex: 1;
  max-width: 500px;
}

.fin-image-container img {
  width: 100%;
  height: auto;
}

.fin-text-container {
  flex: 1;
  text-align: justify;
  max-width: 550px;
}

.fin-text-container h2 {
  font-size: 24px;
  text-align: left;
  color: var(--content-color);
}
.fin-text-container ul {
  list-style-type: disc;
  padding-left: 16px;
  text-align: left;
}

.fin-text-container button {
  background-color: var(--button-color);
  color: var(--background-color);
  padding: 14px 24px;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  margin-top: 1 0px;
}

.fin-text-container button:hover {
  background-color: var(--h1-color);
}

.fin-text-container li {
  margin: 15px 0;
  text-align: justify;
  line-height: 1.5;
  font-size: 16px;
  color: var(--content-color);
}

.key-feature {
  padding-top: 80px;
}

/* @media (max-width: 1200px) { */
.fin-diamond-section {
  padding: 40px 120px;
  /* } */
}

@media (max-width: 992px) {
  .fin-text-container,
  .kebora-content,
  .kebora-text {
    max-width: 100%;
  }

  .fin-text-container h2 {
    margin: 20px 0;
  }
  .fin-diamond-section {
    padding: 40px 60px;
    flex-direction: column;
    gap: 20px;
  }

  .fin-finance-max {
    margin: 40px 60px;
  }

  .key-feature {
    flex-direction: column-reverse !important;
  }

  .car-rental {
    flex-direction: column-reverse !important;
  }
  .fin-international-section {
    padding: 10px 0;
  }

  .car-container {
    width: 300px !important;
    text-align: center !important;
  }

  .fin-text-container,
  .fin-image-container {
    max-width: 100%;
  }
}

@media (max-width: 768px) {
  .fin-finance-max {
    margin: 20px 40px;
    font-size: 14px;
    line-height: 1.6;
  }
  .kebora-content h2,
  .fin-text-container h2,
  .kebora-text h1 {
    margin: 20px 0;
    font-size: 28px;
  }
  .fin-text-container li,
  .kebora-text p {
    font-size: 14px;
  }

  .fin-text-container button,
  .kebora-content button,
  .learn-more {
    padding: 10px 16px;
    font-size: 15px;
  }

  .fin-text-container ul {
    padding-left: 25px;
  }

  .fin-diamond-section {
    padding: 20px 40px !important;
  }

  .contact-left p,
  .fin-text-container p {
    font-size: 16px !important;
  }
}

@media (max-width: 600px) {
  .fin-text-container h2 {
    font-size: 22px;
    margin: 10px 0;
  }
  .fin-text-container ul li {
    font-size: 12px;
    line-height: 1.3;
    margin: 12px 0;
  }
  .fin-text-container button {
    padding: 7px 14px;
    font-size: 12px;
  }
  .fin-text-container li,
  .kebora-text p,
  .kebora-text {
    margin: 12px 0;
  }
  .contact-left p {
    text-align: left;
    font-size: 12px;
  }
  .contact-details,
  .fin-text-container p {
    font-size: 12px !important;
  }

  .fin-finance-center h1,
  .fin-international-section h1 {
    font-size: 22px;
  }

  .fin-finance-center img {
    width: calc(100% - 80px);
    padding: 15px;
  }

  .fin-finance-max {
    line-height: 1.3;
    margin: 20px;
  }

  .fin-text-container h1 {
    font-size: 18px;
  }
}
@media (max-width: 420px) {
  .kebora-section,
  .fin-diamond-section,
  .kebora-container-last {
    padding: 20px !important;
  }
}
